.Jesus{
	display: none;
}



.JesusHero-header{
		padding: 6em 4em 8em 4em;
		background: url('../img/fondo.png') no-repeat scroll center center;
		background-size: cover;
		display: -webkit-box;
		display: flex;
		-webkit-box-pack: end;
		        justify-content: flex-end;
	}



.JesusHero-header-container{
			width: 50%;
		}



.JesusHero-header-caption{
			color: #545454;
			font-family: 'Exo', sans-serif
		}



.JesusHero-header-titulo{
			color: #484848;
			font-family: 'Exo', sans-serif;
			font-weight: medium;
			font-size: 48px;
			font-size: 3rem;
		}



.JesusHero-header-titulo b{
				font-weight: medium;
				color: #3971ff;
			}



.JesusHero-header-subtitle{
			color: #3971ff;
			font-family: 'Nunito', sans-serif;
			text-transform: uppercase;
			font-size: 1em;
			border-top: 1.4px solid #636363;
			border-bottom: 1.4px solid #636363;
			padding: .8em;
			width: 50%;
			margin-top: 1.5em;
		}



.JesusHero-header-informacion{
			margin-top: 3.5em;
			color: #545454;
			font-family: 'Nunito', sans-serif;
			font-size: 17.6px;
			font-size: 1.1rem;
		}



.JesusHero-header-buttons{
			margin-top: 2.5em;
			font-family: 'Nunito', sans-serif;
			text-transform: uppercase;
		}



.JesusHero-header-buttons-btn{
				font-weight: bold;
				color: #484848;
				transition: .3s;
			}



.JesusHero-header-buttons-btn:hover{
					color: #3971ff;
				}