<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Jesús Rojas
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	link(rel="stylesheet", href="css/normalize.css")
	link(rel="stylesheet", href="css/bootstrap.min.css")
	link(rel="stylesheet", href="css/estilos")
body
	section.JesusHero
		header.JesusHero-header
			h2.JesusHero-header-caption Hola Soy
			h1.JesusHero-header-titulo Jesús Rojas
			h3.JesusHero-header-subtitle Junior Frontend Developer
			p.JesusHero-header-information!= "Hola, soy un Desarrollador Frontend Junior con experiencia en <strong>Angular</strong>, <strong>JavaSciprt</strong>, <strong>HTML5</strong>, <strong>CSS3</strong>, <strong>PonstCss</strong>, <strong>CssNext</strong> and <strong>Bootstrap</strong>. Puedo construir sitios web responsive funcionan independientemente del navegador que tengas. Soy muy curioso, decidido y proactivo, muy bueno trabajando con equipos. Soy graduado en secundaria, pero todos los días aprendo sobre programación."
			.JesusHero-header-buttons
				a.JesusHero-header-buttons-btn.btn(href="#portafolio") Portafolio
				a.JesusHero-header-buttons-btn.btn(href="#info") Información


	script(src="js/jquery.js")
	script(src="js/popper.min.js")
	script(src="js/bootstrap.min.js")