<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Jesús Rojas
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	link(rel="stylesheet", href="css/normalize.css")
	link(rel="stylesheet", href="css/bootstrap.min.css")
	link(rel="stylesheet", href="css/estilos")
body
	section.JesusHero
		header.JesusHero-header
			h2.JesusHero-header-caption Hola Soy
			h1.JesusHero-header-titulo.title Jesús Rojas
			h3.JesusHero-header-subtitle Junior Frontend Developer
			p.JesusHero-header-information!= "Hola, soy un Desarrollador Frontend Junior y por ahora estoy trabajando como <strong>freelancer</strong>. Puedo construir sitios web responsive que funcionen independientemente del navegador y dispositivo que tengas. Soy muy curioso, decidido y proactivo, muy bueno trabajando con equipos. Soy graduado en secundaria, pero todos los días aprendo sobre programación."
			.JesusHero-header-buttons
				a.JesusHero-header-buttons-btn.btn(href="#portafolio") Portafolio
				a.JesusHero-header-buttons-btn.btn(href="#info") Información
	section.JesusHabili
		h2.JesusHabili-title.title Habilidades Profecionales

		.JesusHabili-items.u-Grid
			.JesusHabili-items-item.u-Grid-colunm
				h4.JesusHabili-items-item-title HTML5 / CSS3
				p.JesusHabili-items-item-porcent 90%
				.JesusHabili-items-item-bar
					.JesusHabili-items-item-bar-porcent
			.JesusHabili-items-item.u-Grid-colunm
				h4.JesusHabili-items-item-title Git
				p.JesusHabili-items-item-porcent 90%
				.JesusHabili-items-item-bar
					.JesusHabili-items-item-bar-porcent
			.JesusHabili-items-item.u-Grid-colunm
				h4.JesusHabili-items-item-title Angular
				p.JesusHabili-items-item-porcent 60%
				.JesusHabili-items-item-bar
					.JesusHabili-items-item-bar-porcent
			.JesusHabili-items-item.u-Grid-colunm
				h4.JesusHabili-items-item-title JavaScipt
				p.JesusHabili-items-item-porcent 80%
				.JesusHabili-items-item-bar
					.JesusHabili-items-item-bar-porcent
			.JesusHabili-items-item.u-Grid-colunm
				h4.JesusHabili-items-item-title Bootstrap
				p.JesusHabili-items-item-porcent 90%
				.JesusHabili-items-item-bar
					.JesusHabili-items-item-bar-porcent
			.JesusHabili-items-item.u-Grid-colunm
				h4.JesusHabili-items-item-title Responsive Design
				p.JesusHabili-items-item-porcent 90%
				.JesusHabili-items-item-bar
					.JesusHabili-items-item-bar-porcent
	


	script(src="js/jquery.js")
	script(src="js/popper.min.js")
	script(src="js/bootstrap.min.js")