@import url("/css/font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");

@media screen and (max-width: 480px){
	*{
		box-sizing: border-box;
	}
	body{
		color: #a2a2a2;
  		font-family: "Source Sans Pro", Helvetica, sans-serif;
	}
	.cabecera{
		background-color: black;
		width: 100%;
		height: 100px;
		margin-top: 0;
		padding: 1em;

	}
	.cabecera__nombre{
		margin-top: 20px;
	}
	.nombre:hover{
		color: #a2a2a2;
	}
	.nombre:link{
		color: white;
	}
	.nombre:visited{
		color:white;
	}
	h1{
		margin-top: 0;
		color: white;
		text-align: center;
		font-weight: 300;
		font-size: 30px;
	}
	.h2{
		text-align: center;
		font-weight: lighter;
	}
	a{
		text-decoration: none;
	}
	.a:link{
		color: #a2a2a2;
	}
	.a:visited{
		color: #a2a2a2;
	}
	.a:hover{
		color: black;
	}
	.informacion{
		margin: 30px 30px 10% 30px;
	}
	li{
		overflow: hidden;
	}
	.social{
		padding: 2px 20px 36px 24px;
		background-color: black;
		width: 100%;
		margin-bottom: 0;
		height: 15%;
	}

	.social__li,.info{
		margin-top: 10px;
		overflow: hidden;
		display: inline-block;
	}
	.social__red,.copyright{
		text-align: center;
	}
	.info__personal:link{
		color: #a2a2a2;
	}
	.info__personal:visited{
		color: #a2a2a2;
	}
	.a:link{
		color: #a2a2a2;
	}
	.a:visited{
		color: #a2a2a2;
	}
	.a:hover{
		color: black;
	}
	img{
		
		border-radius: 0.35em;
	}
	.li{
		padding: 1em;
		display: inline-block;
	}
	.info__personal:hover{
		color: white;
	}

}
@media screen and (min-width: 480px){
	*{
		box-sizing: border-box;
	}
	body{
		color: #a2a2a2;
  		font-family: "Source Sans Pro", Helvetica, sans-serif;
	}
	.cabecera{
		background-color: black;
		width: 100%;
		height: 105px;
		margin-top: 0;
		padding: 1em;

	}
	.nombre:hover{
		color: #a2a2a2;
	}
	.nombre:link{
		color: white;
	}
	.nombre:visited{
		color:white;
	}
	h1{
		margin-top: 15px;
		color: white;
		text-align: center;
		font-weight: 300;
		font-size: 30px;
	}
	.h2{
		text-align: center;
		font-weight: lighter;
	}
	a{
		text-decoration: none;
	}
	.a:link{
		color: #a2a2a2;
	}
	.a:visited{
		color: #a2a2a2;
	}
	.a:hover{
		color: black;
	}
	.informacion{
		margin: 30px 30px 10% 30px;
	}
	li{
		overflow: hidden;
	}
	.social{
		padding: 2px 20px 36px 24px;
		background-color: black;
		width: 100%;
		margin-bottom: 0;
		height: 15%;
	}
	.social__li,.info{
		margin-top: 10px;
		overflow: hidden;
		display: inline-block;
	}
	.social__red,.copyright{
		text-align: center;
	}
	.info__personal:link{
		color: #a2a2a2;
	}
	.info__personal:visited{
		color: #a2a2a2;
	}
	.a:link{
		color: #a2a2a2;
	}
	.a:visited{
		color: #a2a2a2;
	}
	.a:hover{
		color: black;
	}
	img{
		
		border-radius: 0.35em;
	}
	.li{
		padding: 1em;
		display: inline-block;
	}
	.info__personal:hover{
		color: white;
	}
}
@media screen and (min-width: 767px){
	*{
		box-sizing: border-box;
	}
	body{
		color: #a2a2a2;
  		font-family: "Source Sans Pro", Helvetica, sans-serif;
	}
	.cabecera{
		background-color: black;
		width: 100%;
		height: 105px;
		margin-top: 0;
		padding: 1em;

	}
	.nombre:hover{
		color: #a2a2a2;
	}
	.nombre:link{
		color: white;
	}
	.nombre:visited{
		color:white;
	}
	h1{
		margin-top: 15px;
		color: white;
		text-align: center;
		font-weight: 300;
		font-size: 30px;
	}
	.h2{
		text-align: center;
		font-weight: lighter;
	}
	a{
		text-decoration: none;
	}
	.a:link{
		color: #a2a2a2;
	}
	.a:visited{
		color: #a2a2a2;
	}
	.a:hover{
		color: black;
	}
	.informacion{
		margin: 30px 30px 15% 30px;
	}
	li{
		overflow: hidden;
	}
	.social{
		position: static;
		bottom: 0; 
		padding: 2px 20px 36px 24px;
		background-color: black;
		width: 100%;
		height: 15%;
	}
	.social__li,.info{
		margin-top: 10px;
		overflow: hidden;
		display: inline-block;
	}
	.social__red,.copyright{
		text-align: center;
	}
	.info__personal:link{
		color: #a2a2a2;
	}
	.info__personal:visited{
		color: #a2a2a2;
	}
	.a:link{
		color: #a2a2a2;
	}
	.a:visited{
		color: #a2a2a2;
	}
	.a:hover{
		color: black;
	}
	img{
		
		border-radius: 0.35em;
	}
	.li{
		padding: 1em;
		display: inline-block;
	}
	.info__personal:hover{
		color: white;
	}
}
@media screen and (min-width: 950px){
	*{
		box-sizing: border-box;
	}
	body{
		color: #a2a2a2;
  		font-family: "Source Sans Pro", Helvetica, sans-serif;
	}
	.cabecera{
		background-color: black;
		width: 100%;
		height: 105px;
		margin-top: 0;
		padding: 1em;

	}
	.nombre:link{
		color: white;
	}
	.nombre:visited{
		color:white;
	}
	h1{
		margin-top: 15px;
		color: white;
		text-align: center;
		font-weight: 300;
		font-size: 30px;
	}
	.h2{
		text-align: center;
		font-weight: lighter;
	}
	.nombre:hover{
		color: #a2a2a2;
	}
	a{
		text-decoration: none;
	}
	.a:link{
		color: #a2a2a2;
	}
	.a:visited{
		color: #a2a2a2;
	}
	.a:hover{
		color: black;
	}
	.informacion{
		margin: 30px 30px 10% 30px;
	}
	li{
		overflow: hidden;
	}
	.social{
		position: static;
		bottom: 0; 
		padding: 2px 20px 36px 24px;
		background-color: black;
		height: 15%;
	}
	.social__li,.info{
		margin-top: 10px;
		overflow: hidden;
		display: inline-block;
	}
	.social__red,.copyright{
		text-align: center;
	}
	.info__personal:link{
		color: #a2a2a2;
	}
	.info__personal:visited{
		color: #a2a2a2;
	}
	.a:link{
		color: #a2a2a2;
	}
	.a:visited{
		color: #a2a2a2;
	}
	.a:hover{
		color: black;
	}
	img{
		
		border-radius: 0.35em;
	}
	.li{
		padding: 1em;
		display: inline-block;
	}
	.info__personal:hover{
		color: white;
	}
}
