body{
	background-color: #F4F4F4;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	line-height: 30px;
	color: #555555;
	font-weight: 200;	
}

section{
	overflow: hidden;
	width: 100%;	
}

h1{
    font-family: 'NovecentowideLightBold', 'Source Sans Pro', sans-serif;	
	font-weight: 200;
	font-size: 46px;	
	color: #444444;
	line-height: 45px;
	letter-spacing: 0px;
}

h2{
	font-weight: 200;
	font-size: 36px;
	line-height: 42px;
	margin-bottom: 20px;	
	margin-top: 30px;
	color: #444444;
}

h3{
	font-weight: 400;
	color: #61e69d;	
}

a:link, a:visited{
	text-decoration: underline;
	color: #444444;
}

a.button:visited{
	color: #ffffff;
}

a.button:active{
	background-color: #5cd994;
}

::selection {
	background-color: #feffc3;
	color: #888888;
}

.header{
	width: 88%;
	padding: 20px 6%;	
	font-size: 11px;
	letter-spacing: 1.5px;
	text-align: center;
	font-family: 'NovecentowideLightBold', 'Helvetica', 'Arial', sans-serif;
	background-color: #FFFFFF;
	box-shadow: 0px 4px rgba(0,0,0,0.1);
	z-index: 999;
	position: fixed;
	top: 0;
}

	.header a:link, .header a:visited{
		color: #888888 !important;
		text-decoration: none;
	}

	.header a:hover{
		color: #61e69d !important;	
		-webkit-transition: color 0.2s ease;
		-moz-transition: color 0.2s ease;
		-ms-transition: color 0.2s ease;
		-o-transition: color 0.2s ease;
		transition: color 0.2s ease;					
	}

	.header:after{
			content: "";
			display: table;
			clear: both;
		}

		header.header #logo-type {
			font-size: 16px;
			letter-spacing: 2.5px;
			color: #0a0a0a;
			float: left;
			line-height: 30px;
		}
			
		header.header nav.nav{
			float: right;
		}
		
			header.header nav.nav ul li{
				display: inline;
				margin: 0px 10px;
			}


.container{
	max-width: 740px;
	width: 90%;
	padding: 0px 5%;
	margin: auto;
}

#animation{
	position: relative;
}

	#animation h1, #intro h1{
		width: 100%;
		text-align: center;
		position: absolute;
		top: 130px;
		z-index: 90;
	}

	.animation-container{
		padding: 140px 0px 40px 0px;
		overflow: hidden;	
	}


	#object{
	display: block;
	height: 250px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	background-size: contain;
	visibility: hidden;
	background-image: url(../imagenes/ross-v2.png);
	background-repeat: no-repeat;
	background-position: center;
	}
/*
	#object{
		display: block;	
		height: 180px;
		width: 180px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 100px;
		background-size: contain;
		background-color: #fe5652;
		border-radius: 24px;
		visibility: hidden;
	}
*/

	#animation .cta-wrapper{
		width: 100%;
		position: absolute;
		bottom: 55px;
		text-align: center;
	}

	#animation .examples{
	    font-family: 'NovecentowideLightBold', 'Source Sans Pro', sans-serif;		
		font-size: 16px;	
		color: #444444;
		padding: 10px 20px;	
		border-radius: 5px;
		background-color: transparent;	
		letter-spacing: 1px;
		text-decoration: none;
	}

	#animation a.examples:hover{
		background-color: #e8e8e8;
		-webkit-transition: background-color 0.4s ease;
		-moz-transition: background-color 0.4s ease;
		-ms-transition: background-color 0.4s ease;
		-o-transition: background-color 0.4s ease;
		transition: background-color 0.4s ease;		
	}

#actions{
	background-color: #FFFFFF;
	padding: 20px 0px 50px 0px;
}

	a.button{
		padding: 6px 16px;
		background-color: #61e69d;
		color: #FFFFFF;
		text-decoration: none;
		border-bottom: 4px solid #5cd994;
		margin: 0px 15px 15px 0px;
		display: inline-block;
		border-radius: 5px;
		font-size: 16px;
	}
	
	a.button:link, a.button:visited{
		color: #FFFFFF;
	}

	a.button:hover{
		background-color: #6bf5a9;
		-webkit-transition: background-color 0.2s ease;
		-moz-transition: background-color 0.2s ease;
		-ms-transition: background-color 0.2s ease;
		-o-transition: background-color 0.2s ease;
		transition: background-color 0.2s ease;			
	}
	
	a.activeBtn{
		background-color: #DDDDDD;
		border-bottom: 4px solid #D0D0D0;		
	}
	
	a.activeBtn:hover{
		background-color: #DDDDDD;
		border-bottom: 4px solid #D0D0D0;		
	}	

#how{
	background-color: #F4F4F4;
	padding-bottom: 80px;
}

	#how h2, #download h2{
		margin: 60px 0px 30px 0px;
	}

	#how p{
		margin: 40px 0px;
	}

	#how p.emphasis{
		padding: 4%;
		border-radius: 8px;	
		border: 2px solid #dddddd;
		font-style: italic;		
		margin-bottom: 60px;
	}

	#how span.strikethrough{
		text-decoration: line-through;
		color: #888888;
	}
	
	#how pre{
		padding: 0;
	}

	#how h4{
		margin: 40px 0px 15px 0px;
		display: block;
		font-size: 19px;
		font-weight: 400;
		color: #444444;
	}

	#how code{
		display: block;
		background-color: #E8E8E8;
		color: #888888;
		border-radius: 8px;
		width: 96%;
		padding: 2%;
	}

		#how code.no-corners{
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
		}

		#how span{
			color: #00c670;
		}

		#how span.modify{
			color: #ed921c;
		}

		#how div.additional-info{
			background-color: #FFFFFF;
			font-size: 16px;
			font-family: 'Source Sans Pro', sans-serif;
			color: #888888;
			padding: 10px 20px;
			border-bottom-left-radius: 8px;
			border-bottom-right-radius: 8px;	
			font-style: italic;
			box-shadow: 0px 3px rgba(0,0,0,0.05);			
		}

		#how div.additional-info p{
			margin: 5px 0px;
		}

#download{
	background-color: #FFFFFF;
	text-align: center;
	padding: 100px 0px 80px 0px;
}

	#download a.download{
		background-color: #61e69d;
		color: #FFFFFF;
		font-size: 46px;
		padding: 25px 0px;
		border-bottom: 5px solid #5cd994;
		margin-bottom: 20px;
		display: block;
		border-radius: 8px;
		text-decoration: none;
	}

	#download a.download:hover{
		background-color: #6bf5a9;
		-webkit-transition: background-color 0.2s ease;
		-moz-transition: background-color 0.2s ease;
		-ms-transition: background-color 0.2s ease;
		-o-transition: background-color 0.2s ease;
		transition: background-color 0.2s ease;		
	}	
	
#contact{
	background-color: #F4F4F4;
	padding: 80px 0px 80px 0px;
	text-align: center;	
}	

	#contact div.container{
		max-width: 600px;
	}
	
	#contact h2{
		margin-bottom: 40px;
	}
	
	#contact p{
		font-size: 11px;
		letter-spacing: 1.5px;
		font-family: 'NovecentowideLightBold', 'Helvetica', 'Arial', sans-serif;		
		line-height: 16px;
	}
	
	#contact a{
		text-decoration: none;
	}
	
	#contact a:hover{
		color: #61e69d !important;	
		-webkit-transition: color 0.2s ease;
		-moz-transition: color 0.2s ease;
		-ms-transition: color 0.2s ease;
		-o-transition: color 0.2s ease;
		transition: color 0.2s ease;		
	}	

/*
==============================================
OVERWRITE ANIMATIONS
==============================================
*/

.hatch{
	background: url('../images/pin.png') no-repeat center !important;	
	background-size: contain;
	background-color: transparent !important;
}

.pullUp, .pullDown, .stretchLeft, .stretchRight{
	background-image: none !important;	
	background-color: #fe5652 !important;
	border-radius: 24px;
}

#example-4 .example-container .stretchRight{
	background-color: transparent !important;
}

.bounce, .pulse, .floating, .tossing, .pullUp, .pullDown, .stretchLeft, .stretchRight{
	visibility: visible !important;	
}
/*
==============================================
EXAMPLES CSS
==============================================
*/

.example-container{
	max-width: 1000px;
	width: 90%;
	padding: 0px 5%;
	margin: auto;
}

#intro{
	height: 650px;
	width: 100%;
	position: relative;
}

	#intro h1 span{
		font-size: 16px;
	}

	#intro .animation-container{
		padding: 240px 0px 40px 0px;
		overflow: hidden;
	}

	#intro-copy{
		width: 100%;
		position: absolute;
		bottom: 30px;
		text-align: center;	
	}

	#intro-copy p{
		color: #CCCCCC;
	}

#example-1{
	background-color: #FFFFFF;
	padding: 80px 0px;
}

	#example-1 #phone{
		visibility: hidden;
		width: 50%;
		height: auto;
		float: left;
		margin-top: 0px;
	}

	#example-1 .copy{
		width: 45%;
		float: right;
		background-color: #FFFFFF;
	}

	#example-1 p{
		margin-bottom: 20px;
	}

#example-2{
	background-color: #FAFAFA;
	padding: 130px 0px;
	position: relative;
	text-align: center;
}

	#example-2 img{
		width: 100%; 
	}

	#example-2 #pin{
		margin-top: 50px;
		max-width: 120px;
		height: auto;
		visibility: hidden;
	}

	#example-2 #map{
		background: url('../imagenes/map.png') no-repeat center;
		height: 340px;
		width: 70%;
		margin: auto;
		background-size: contain;
		text-align: center;
	}

#example-3{
	background-color: #F4F4F4;
	padding: 130px 0px;	
	text-align: center;		
}

	#example-3 .example-container{
		background-color: #61e69d;
		width: 66%;
		max-width: 800px;
		margin-bottom: 40px;
		padding: 6%;
		color: #FFFFFF;
		visibility: hidden;
		text-align: left;
	}

	#example-3 .example-container h2{
		color: #FFFFFF;
		width: 80%;
		margin-top: 0px;
		float: right;
	}

	#example-3 .example-container p{
		width: 80%;
		float: right;
	}

	#example-3 .example-container img{
		width: 15%;
		float: left;
	}

	#example-3 .example-container:after {
		content: "";
		display: table;
		clear: both;
	}

#example-4{
	background-color: #FFFFFF;
	padding: 220px 0px 160px 0px;
	text-align: center;		
}

	#example-4 .device-diagram{
	    font-family: 'NovecentowideLightBold', 'Source Sans Pro', sans-serif;	
	    font-size: 200px;
	    color: #61e69d;
	    margin: 6%;
	}


	#example-4 .device-arrow{
		width: 30%;
		margin-bottom: 50px;
		visibility: hidden;
	}

	#example-4 h3{
		margin-top: 30px;
	}


#example-5{
	background-color: #FAFAFA;
	padding: 130px 0px 90px 0px;
	text-align: center;		
}	

#example-5 .example-container{
	position: relative;
	width: 80%;
	max-width: 600px;	
	background: #EEEEEE url('../images/grid.png') center bottom;
	border-bottom: 4px solid #CCCCCC;
	border-left: 4px solid #CCCCCC;	
	padding-top: 100px;	
	margin-bottom: 40px;	
}

#example-5 .graph-bar{
	width: 18%;
	background-color: #fe5652;
	margin: 0px 1%;
	border-radius: 2px;
	display: table-cell;
	visibility: hidden;
}

#example-5 .bar-1{
	height: 275px;
	display: inline-block;
}

#example-5 .bar-2{
	height: 75px;
	display: inline-block;	
}

#example-5 .bar-3{
	height: 125px;
	display: inline-block;	
}

#example-5 .bar-4{
	height: 225px;
	display: inline-block;	
}

a.back{
	display: block;
	width: 100%;
	background-color: #fe5652;
    font-family: 'NovecentowideLightBold', 'Source Sans Pro', sans-serif;	
    font-size: 16px;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
    line-height: 24px;		
	padding: 25px 0px;
}

	a.back:hover{
		color: #a71d1d;
		-webkit-transition: color 0.2s ease;
		-moz-transition: color 0.2s ease;
		-ms-transition: color 0.2s ease;
		-o-transition: color 0.2s ease;
		transition: color 0.2s ease;		
	}


@media only screen and (max-width: 815px) {
	header.header nav.nav ul li.hide{
		display: none;
	}

}

@media only screen and (max-width: 600px) {
	header.header{
		position: absolute;
		top: 0;
	}

	nav{
		display: none;
	}

	#example-1 #phone{
		width: 100%;
		float: none;
	}		
	
	#example-1 .copy{
		width: 100%;
		clear: left;
		float: none;
	}	

	#example-2, #example-3, #example-5{
		padding: 60px 0px;
	}
	
	#example-2 #map{
		width: 100%;
	}	

	#example-3 #pop-up-message h2, #example-3 #pop-up-message p {
		width: 100%;
	}

	#example-4 .device-diagram{
		font-size: 100px;
	}
}
