/*Animaciones*/

.call-action{
	animation-name: bajar;
	animation-duration: 2s;
}

header nav div h1{
	animation-duration: 2s;
	animation-name: rotar;
}

header nav ul{
	animation-name: expandir;
	animation-duration: 2s;
}


@keyframes bajar{
	0% {transform: translateY(-100%); opacity: 0;}
	10
	0% {transform: translateY(0); opacity: .99}
}
@keyframes rotar{
	from{transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}
@keyframes expandir{
	from {transform: scale(0,0);}
	to {transform: scale(1.2,1.2);}
}


/*Estilo de la pagina*/
header img{
	height: 480px;
	width: 100%;
	filter: brightness(65%)
}

.bt-menu, nav, .logo{
	position: absolute;
	top: 0;
}

header nav{
	background-color: rgba(0,0,0,0.6);
	width: 100%;
}

.bt-menu{
	display: none;
}
.ul{
	display: inline-block;
}
header nav div h1{
	font-size: 2em;
	padding: 0;
	margin: 0;
}
header nav div h1 a, header nav div h1 a:hover{
	color: white;
	text-decoration: none;
}

.nav-logo, .ul{
	display: inline-block;
}
header nav div h1{
	position: absolute;
	top: 20px;
	margin-left: 20px;
}
header nav ul{
	float: right;
	margin-right: 30px;
}

header nav ul li{
	animation-duration: .3s;
	overflow: hidden;
	display: inline-block;
	padding: 1.5em 1em 1em 1em;
	border-bottom: 3px solid rgba(0,0,0,0.0);
}
header nav ul li a{
	color: white;
	font-size: 1.3em;
	font-weight: lighter;
}
header nav ul li a:hover{
	transition: .3s;	
	color: #F66509;
	text-decoration: none;
}
header nav ul li.li:hover{
	transition: .3s;
	border-bottom: 3px solid #F66509;
}
.container{
	margin-top: 30px;
}
.call-action{
	position: absolute;
	left: 33%;
	top: 100px;
	color:  #000;
}
.call-action h1{
	color: white;
	font-size: 3em;
	text-transform: uppercase;
	margin-left: -20px;	
}
.call-action p{
	color: white;
	margin-left: -50%;
	text-align: center;
	font-size: 1.9em;
}
.call-action .p{
	margin-bottom: 50px;
}
.call-action a, .call-action a:link, .call-action a:visited, .call-action a:hover{
	color: white;
	text-decoration: none;
	font-size: 1.5em;
}
.call-action a{
	margin-left: 15%;
	padding: 1em;
	border: 3px solid #F66509;
	border-radius: 10px;

}
.call-action a:hover{
	transition: .5s;
	background-color: #F66509;
}


.container{
	margin-top: 70px;
}
.container h1{
	margin: 0;
}
.container h1.h1-header{
	position: relative;
	text-align: center;
	text-transform: uppercase;
}
.h1-header::after{
	background: #f66509;
	content: '';
	height: 3px;
	left: 50%;
	margin: 0 0 0 -16px;
	position: absolute;
	top: 1.5em;
	width: 40px;
}
.container h2.h2-header{
	color: #7d7d7d;
	font-size: 1.5em;
}

div.container figure{
	margin-top: 2em;
	text-align: center;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	overflow: hidden;
}

.img{
	width: 100%;
}
.p-header{
	font-size: 1.2em;
	margin-left: 5%;
	margin-right: 5%;
}
.p-header-1{
	margin-top: 1em;
}


.proyectos{
	background-color: #F66509;
	width: 100%;
	margin-top: 2em;
	color: white;
	padding: 1em;
}
.proyectos h1{
	padding-top: 1em;
	text-transform: uppercase;
}
.proyectos ul li a, .proyectos ul li a:visited, .proyectos ul li a:link{
	color: white;
	text-decoration: none;
	font-size: 1.5em;

}
.proyectos ul li{
	display: inline-block;
	padding: 1em;
}
.proyectos ul{
	list-style:none;
}
.container_proyectos li a img{
	border-radius: 20px;
	width: 500px;
	transition: .3s;
}
.container_proyectos li a img:hover{

	transform: scale(1.2,1.2);
}
.container_proyectos{
	margin-left: 2.5%;
}
.proyectos ul li a:hover{
	transition: .3s;
	color: black;
}

.contacto{
	background-color: #7D7D7D;
	height: 250px;
	padding: 1em;
}
.contacto h2{
	color: white;
}

.form-inline{
	margin-top: 20px;
	color: white;
}
.form-control{
	margin: 1em;
}
.form-control,.btn{
	height: 45px;
}
.btn, .btn:hover{
	color: white;
	background-color: #F66509;
	padding-right: 1.5em;
	padding-left: 1.5em;
}
.form-inline{
	padding: 1em;
}



/*Pie de pagina*/
footer{
	width: 100%;
	height: 200px;
	padding: 1em;
	color: #ACB3BA;
	background-color: #2B2E31;
}
footer p, .social-buttons{
	margin: 0 0 0 18%;
}
footer p{
	margin-top: 2.8%;
}


ul.social-buttons li a{
	display: block;
	height: 45px;
	width: 45px;
	font-size: 25px;
	line-height: 45px;
	color: #fff;
	outline: 0;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.social-buttons{
	margin-top: 30px;
}
.twitter:hover{
	color: #1DA1F2;
}
.facebook:hover{
	color: #3D5A99;
}
.linkedin:hover{
	color: #0077B5;
}
.github:hover{
	color: gray;
}
@media screen and (max-width:480px){
	.call-action{
		left: 20%;
	}
}
@media screen and (min-width:480px){
	.call-action{
		left: 33%;
	}
}
@media screen and (min-width: 767px){
	.call-action{
		left: 22%;
	}
}

@media screen and (max-width:800px ) {
	.bt-menu{
		position: absolute;
		right: 30px;
		display: inline;
		color: white;
		font-size: 3em;
	}
	.ul{
		background-color: rgba(0,0,0,0.6);
		width:50%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
		top: 79px;
	}
	.ul li{
		display: block;
	}
	header nav{
		height: 79px;
	}
	.bt-menu:hover, .bt-menu:visited, .bt-menu:link{
		color: white;
	}
	header nav ul li.li, header nav ul li.li:hover{
		border-bottom: 1px solid white;

	}

}
@media screen and (min-width: 950px){
	.call-action{
		left: 35%;
	}
}