:root{
	--FuenteP: 'Exo', sans-serif;
	--FuenteS: 'Nunito', sans-serif;

	--colorTitle: #484848;
	--colorAzul: #3971ff;
	--colorTexto: #545454;

	--colorBack: #f3f3f3;
}

@lost flexbox flex;

.u-Grid{
	lost-center: 800px;
	lost-utility: clearfix;
}
.title{
	font-family: var(--FuenteP);
	color: var(--colorTitle);
	text-transform: uppercase;
	font-weight: bold;
}
.u-wrapp{
	padding: 7em;
}

.Jesus{
	display: none;
}
/* ---------- Header ----------*/
.JesusHero{
	&-header{
		padding: 6em 4em 8em 4em;
		background: url('../img/fondo.png') no-repeat scroll center center;
		background-size: cover;
		display: flex;
		justify-content: flex-end;
		&-container{
			width: 50%;
		}
		&-caption{
			color: var(--colorTexto);
			font-family: var(--FuenteP)
		}
		&-titulo{
			color: var(--colorTitle);
			font-family: var(--FuenteP);
			font-weight: medium;
			font-size: 3rem;
			b{
				font-weight: medium;
				color: var(--colorAzul);
			}
		}
		&-subtitle{
			color: var(--colorAzul);
			font-family: var(--FuenteS);
			text-transform: uppercase;
			font-size: 1em;
			border-top: 1.4px solid #636363;
			border-bottom: 1.4px solid #636363;
			padding: .8em;
			width: 50%;
			margin-top: 1.5em;
		}
		&-informacion{
			margin-top: 3.5em;
			color: var(--colorTexto);
			font-family: var(--FuenteS);
			font-size: 1.1rem;
			font-weight: 600;
			strong{
				color: #5b84fb;
			}
		}
		&-buttons{
			margin-top: 2.5em;
			font-family: var(--FuenteS);
			text-transform: uppercase;
			&-btn{
				font-weight: bold;
				color: var(--colorTitle);
				transition: .3s;
				&:hover{
					color: var(--colorAzul);
				}
			}
		}
	}
}
/* ---------- Habilidades ----------*/
.JesusHabili{
	.u-Grid{
		display: flex;
		max-width: 100%;
		&-column{
			lost-column: 1/2;
		}

	}
	&-items{
		margin: 8em 0 0 0;
		width: 100%;
		&-item{
			margin-bottom: 3.5em;
			&:nth-child(3n){
				.JesusHabili-items-item-bar{
					&-porcent{
						width: 60%;
					}
				}
			}
			&:nth-child(4n){
				.JesusHabili-items-item-bar{
					&-porcent{
						width: 80%;
					}
				}
			}
			&:nth-child(6n){
				.JesusHabili-items-item-bar{
					&-porcent{
						width: 90%;
					}
				}
			}
			&-bar{
				display: flex;
				height: .3rem;
				overflow: hidden;
				font-size: .75rem;
				background: #afc5fe;
				&-porcent{
					display: flex;
					width: 90%;
					align-items: center;
					justify-content: center;
					background: var(--colorAzul);
					clip-path: polygon(0 0,100% 0,98% 100%,0 100%)
				}
			}
			&-contenedor{
				display: flex;
				justify-content: space-between;
				&-title,&-porcent{
					color: var(--colorTexto);
					font-family: var(--FuenteS);
					text-transform: uppercase;
					font-size: 1rem;
				}
			}
				
		}
	}

}
/* ---------- Educacion ----------*/
.JesusEdu{
	background: var(--colorBack);
	.u-Grid{
		display: flex;
		max-width: 100%;
		&-column{
			lost-column: 1/2;
			padding-bottom: 2em;
		}
	}
	&-list{
		counter-reset: li;
		list-style: none;
		*list-style: decimal-leading-zero;
		font: 2em var(--FuenteP);
		margin-bottom: 4em;
		text-shadow: 0 1px 0 rgba(255,255,255,.5);
		position: relative;
	    padding: .4em;
	    margin: 3em 0 .5em 2em;
	    text-decoration: none;
	    &-item{
	    	position: relative;

	    	&:before{
	    		content: '0' counter(li);
	    		counter-increment: li;
	    		position: absolute;
	    		left: -2.5em;
	    	}
	    	&-link{
	    		color: var(--colorTexto);
	    		transition: .3s;
	    		&:hover{
	    			color: var(--colorAzul);
	    			text-decoration: none;
	    		}
	    		&-title{
	    			font-family: var(--FuenteS);
	    			text-transform: uppercase;
	    			font-size: 1.5rem;
	    			font-weight: 600;
	    		}
	    	}
	    	&-time{
		    	font-family: var(--FuenteS);
		    	color: var(--colorTexto);
		    	font-size: 1.3rem;
		    }
	    }

	}
}
/* ---------- Portafolio ---------- */
.JesusPortafolio{
	.u-Grid{
		display: flex;
		max-width: 100%;
		&-column{
			lost-column: 1/2;
		}
	}
	img{
		width: 100%;
		border-radius: 4px;

	}
	.JesusPortafolio-items{
		margin-top: 7em;
		.JesusPortafolio-item{
			&-head{
				a{
					position: relative;
					display: flex;
					flex-direction: column;
					box-shadow: 1px 3px 4px 2px #ddd;
    				border-radius: 4px;
    				transition: .3s;
					&:hover{
						box-shadow: 0px 9px 11px 1px #d0d0d0;
						.JesusPortafolio-item-head-hover{
							opacity: 1;
						}
					}
				}
				&-hover{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					background: rgba(255,255,255,.5);
					opacity: 0;
					transition: .3s;
					span{
						color: var(--colorAzul);
						font-size: 3rem;
					}
				}
			}
			&-footer{
				padding: 4em 0 2em 0;
				&-title{
					font-family: var(--FuenteS);
					text-transform: uppercase;
					color: var(--colorTexto);
					font-weight: 600;
				}
				&-description{
					font-family: var(--FuenteS);
					color: var(--colorTexto);
				}
			}
		}
	}
}
/* ---------- Precios ---------- */
.JesusPrecios{
	background: var(--colorBack);
	.u-Grid{
		display: flex;
		max-width: 100%;
		&-column{
			lost-column: 1/2;
		}
	}
	&-planes{
		margin-top: 5em;
		&-plan{
			background: white;
			border-radius: 4px;
			text-align: center;
			padding-bottom: 2em;
			transition: .3s;
			box-shadow: 1px 4px 16px 1px #e0e0e0;
			&-container{
				padding: 4em 2em 2em 2em;
				&-title{
					text-align: left;
					font-family: var(--FuenteS);
					color: var(--colorTexto);
					font-weight: 600;
					text-transform: uppercase;
					span{
						color: var(--colorAzul);
						font-weight: bold;
						text-transform: capitalize;
					}
				}
				&-description{
					text-align: left;
					margin-top: 3em;
					font-family: var(--FuenteS);
					color: var(--colorTexto);
					font-weight: 600;
				}
			}
			&-item{
				display: flex;
				justify-content: space-between;
				border-bottom: 1px solid #afafaf;
				padding: 1em 2em 0em 2em;
				&-article,&-number{
					font-family: var(--FuenteS);
					color: var(--colorTexto);
					text-transform: uppercase;
					font-size: 1rem;
					font-weight: 600;
				}
				&:nth-child(4n){
					border-bottom: none;
				}
			}
			&-boton{
				color: var(--colorAzul);
				font-family: var(--FuenteS);

			}
			&:hover{
				box-shadow: 1px 9px 16px 1px #d0d0d0;
			}
		}
	}
}