
@keyframes rotar{
	0%{
		transform: rotate(-45deg);
	}
	100%{
		transform: rotate(315deg);
	}
}
.aparecer{
	animation: aparecer 1s ease-out;
	animation-fill-mode: forwards;
}

@keyframes aparecer {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

.mover-derecha{
	animation-name: mover-derecha;
	animation-duration: 1s;	
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;	
}

@keyframes mover-derecha{
	0%{
		transform: translate(-100%);
	}
	90%{
		transform: translate(5%);
	}
	100%{
		opacity: 1;
		transform: translate(0);
	}
}
.mover-izquierda{
	animation-name: mover-izquierda;
	animation-duration: 1s;	
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;	
}

@keyframes mover-izquierda{
	0%{
		transform: translate(100%);
	}
	90%{
		transform: translate(-5%);
	}
	100%{
		opacity: 1;
		transform: translate(0);
	}
}
.form{
	animation: form 1s ease;
	animation-fill-mode: forwards;
}
@media (--desktop) {
	
	@keyframes form{
		0%{
			width: 0%
		}
		100%{
			width: 60%;
			opacity: 1;
		}
	}
}
@media (--tablet) {

	@keyframes form{
		0%{
			width: 0%
		}
		100%{
			width: 80%;
			opacity: 1;
		}
	}
}
@media (--mobile) {

	@keyframes form{
		0%{
			width: 0%
		}
		100%{
			width: 100%;
			opacity: 1;
		}
	}
}
	
