.call{
	background: url('../img/call.jpg') center center no-repeat;
	background-size: cover;
	& .contenedor{
		background: color(var(--colorFondo) a(50%));
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1em 4em;
		@media (--mobile) {
			flex-direction: column;
			text-align: center;
		}
		& .action{
			color: white;
			font-family: var(--FuenteP);
			font-size: var(--tamanoFuenteCaption);
		}
		& .btn{
			@apply --btn;
			background: transparent;
			border-color: var(--colorSecundario);
			color: var(--colorSecundario);
			&:hover{
				background: var(--colorSecundario);
				color: white;
			}
		}
	}
}
