:root{
	--FuenteP: 'Ubuntu Mono', system-ui;
	--FuenteS: 'Nunito', system-ui;

	--colorFondo: #002374;
	--colorPrincipal: #004fe5;
	--colorSecundario: #00e3c1;
	--colorTexto: #4c596b;

}
ul,figure,h1,h2{
	margin: 0;
	padding: 0;
}
body{
	font-family: var(--FuenteP);
	font-family: var(--FuenteS);
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
@custom-media --mobile (max-width: 500px);
@custom-media --tablet (max-width: 768px);

.portada{
	background: url('../img/bg.jpg') center center no-repeat;
	background-size: cover;
	& .contenedor{
		background: color(var(--colorFondo) a(50%));
		height: 110vh;
		& .header{
			margin: 0 5em;
			padding-top: 2em;
			display: flex;
			justify-content: space-between;
			& .logo{
				width: 15%;
				& img{
					width: 100%;
				}
			}
			& .burger{
				display: none;
			}
			& .navbar{
				& .menu{
					display: flex;
					justify-content: center;
					& .item{
						padding-right: 2em;
						list-style: none;
						& a{
							color: white;
							text-decoration: none;
							font-size: 1.17rem;
							text-transform: uppercase;
							font-weight: 600;
						}
					}
				}
			}
		}
		& .copy{
			margin: 6.4em 4em;
			& .caption{
				font-size: 2rem;
				color: white;
				font-weight: normal;
			}
			& .nombre{
				font-family: var(--FuenteP);
				color: white;
				font-size: 5rem;
			}
			& .subtitle{
				color: var(--colorSecundario);
				text-transform: uppercase;
				font-weight: normal;
			}
			& .descripcion{
				color: white;
				width: 50%;
				font-size: 1.1rem;
				margin-bottom: 3em;
			}
			& .btn{
				color: white;
				background: var(--colorPrincipal);
				border-radius: 10px;
				padding: 1em 2em;
				text-transform: uppercase;
				font-weight: 600;
				text-decoration: none;
			}
		}
	}
}

