.header{
	@apply --margen;
	padding-top: 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	& .logo{		
		width: 30%;
		@media (--tablet) {
			width: 20%;
		}
		@media (--mobile) {
			width: 40% !important;
		}
		& img{
			width: 100%;
		}
	}
	& .burger{
		display: none;
		background: none;
		color: var(--colorPrincipal);
		border: none;
		font-size: var(--tamanoFuenteSubtitulo);
		z-index: 2000;
		position: fixed;
		right: 1em;
		@media (--mobile) {
			display: inline;

		}
	}
	& .navbar{
		& .menu{
			display: flex;
			justify-content: center;
			@media (--mobile) {
				display: none;
				&.active {
					animation-name: aparecer;
					-webkit-animation-name: aparecer;	

					animation-duration: 1s;	
					-webkit-animation-duration: 1s;

					animation-timing-function: ease-in-out;	
					-webkit-animation-timing-function: ease-in-out;	
					display: flex;
					position: fixed;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					flex-direction: column;
					background: color(var(--colorFondo) a(50%));
					justify-content: center;
					align-items: center;
					z-index: 1500;
					& .item{
						margin-bottom: 1em;
						& a{
							@media (--min) {
								font-size: 2.2rem;
							}
							font-size: var(--tamanoFuenteSubtitulo);
							color: white;
						}
					}
				}
			}
			& .item{
				padding-right: 2em;
				list-style: none;
				& a{
					color: var(--colorPrincipal);
					text-decoration: none;
					font-size: 1.17rem;
					text-transform: uppercase;
					font-weight: 600;
				}
			}
		}
	}
}
