@import 'estilos.css';
:root{
	--FuenteP: 'Ubuntu Mono', system-ui;
	--FuenteS: 'Nunito', system-ui;

	--colorFondo: #002374;
	--colorPrincipal: #004fe5;
	--colorSecundario: #00e3c1;
	--colorTexto: #4c596b;

	--tamanoFuenteTitulo: 4.6rem;
	--tamanoFuenteSubtitulo: 2.8rem;
	--tamanoFuenteCaption: 1.7rem;
	--tamanoFuenteTexto: 1.1rem;
	
	--distanciaPrincipal: 4.6em;
	--distanciaSecundaria: 2.8em;
	--distanciaTercera: 1.7em;
	--distanciaCuarta: 1.1em;
	
	--btn: {
		color: white;
		background: gray;
		border-radius: 10px;
		padding: 1em 2em;
		text-transform: uppercase;
		font-weight: 600;
		text-decoration: none;
		border: 2px solid gray;
		transition: .3s;
	};
	--margen: {
		margin: 0 var(--distanciaPrincipal);
		@media (--mobile) {
			margin: 0 2em;
			
		}
	};
	--title: {
		font-size: var(--tamanoFuenteTitulo);
		color: var(--colorPrincipal);
		font-family: var(--FuenteP);
		@media (--mobile) {
			font-size: 4rem;
			
		}
		@media (--min) {
			font-size: 3rem !important;
			
		}
	};
	--text: {
		color: var(--colorTexto);
		font-size: var(--tamanoFuenteTexto);
		@media (--min) {
			font-size: 1rem;
		}
	};
	

}

