@import 'estilos.css';
:root{
	--FuenteP: 'Ubuntu Mono', system-ui;
	--FuenteS: 'Nunito', system-ui;

	--colorFondo: #002374;
	--colorPrincipal: #004fe5;
	--colorSecundario: #00e3c1;
	--colorTexto: #4c596b;
	--colorSombra: #cbd5e4;


	--tamanoFuenteTitulo: 4.6rem;
	--tamanoFuenteSubtitulo: 2.8rem;
	--tamanoFuenteCaption: 1.7rem;
	--tamanoFuenteTexto: 1.1rem;
	
	--distanciaPrincipal: 4.6em;
	--distanciaSecundaria: 2.8em;
	--distanciaTercera: 1.7em;
	--distanciaCuarta: 1.1em;
	
	--btn: {
		color: white;
		background: gray;
		border-radius: 50px;
		padding: .5em 2em;		
		font-weight: 600;
		text-decoration: none;
		font-size: var(--tamanoFuenteTexto);
		border: 2px solid gray;
		transition: .3s;
	};
	--margen: {
		margin: 0 var(--distanciaPrincipal);
		@media (--mobile) {
			margin: 0 2em;
			
		}
	};
	--title: {
		font-size: var(--tamanoFuenteTitulo);
		color: var(--colorPrincipal);
		font-family: var(--FuenteP);
		@media (--mobile) {
			font-size: 4rem;
			
		}
		@media (--min) {
			font-size: 3rem !important;
			
		}
	};
	--text: {
		color: var(--colorTexto);
		font-size: var(--tamanoFuenteTexto);
		@media (--min) {
			font-size: 1rem;
		}
	};
	--sombra: {
		box-shadow: 0 0 30px 3px var(--colorSombra);
	};
	

}
.header{
	@apply --margen;
	padding-top: 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	& .logo{		
		width: 30%;
		@media (--tablet) {
			width: 20%;
		}
		@media (--mobile) {
			width: 40% !important;
		}
		& img{
			width: 100%;
		}
	}
	& .burger{
		display: none;
		background: none;
		color: var(--colorPrincipal);
		border: none;
		font-size: var(--tamanoFuenteSubtitulo);
		z-index: 2000;
		position: fixed;
		right: 1em;
		@media (--mobile) {
			display: inline;

		}
	}
	& .navbar{
		& .menu{
			display: flex;
			justify-content: center;
			@media (--mobile) {
				display: none;
				&.active {
					animation-name: aparecer;
					-webkit-animation-name: aparecer;	

					animation-duration: 1s;	
					-webkit-animation-duration: 1s;

					animation-timing-function: ease-in-out;	
					-webkit-animation-timing-function: ease-in-out;	
					display: flex;
					position: fixed;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					flex-direction: column;
					background: color(var(--colorFondo) a(50%));
					justify-content: center;
					align-items: center;
					z-index: 1500;
					& .item{
						margin-bottom: 1em;
						& a{
							font-size: var(--tamanoFuenteSubtitulo);
							color: white;
						}
					}
				}
			}
			& .item{
				padding-right: 2em;
				list-style: none;
				& a{
					color: var(--colorPrincipal);
					text-decoration: none;
					font-size: 1.17rem;
					text-transform: uppercase;
					font-weight: 600;
				}
			}
		}
	}
}
@custom-media --desktop (width > 800px);
.detalles{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 2em var(--distanciaPrincipal);
	grid-gap: var(--distanciaSecundaria);
	@media (--tablet) {
		grid-template-columns: 1fr;
	}
	@media (--mobile) {
		margin: 2em;
	}
	& .item{

		& .titulo{
			@apply --title;
			color: var(--colorFondo);
		}
		& .title{
			@apply --title;
			font-size: var(--tamanoFuenteSubtitulo);
			color: var(--colorFondo);
			@media (--mobile) {
				font-size: var(--tamanoFuenteSubtitulo);
			}
		}
		& .perfil{
			text-align: center;
			padding-bottom: var(--distanciaSecundaria);
			border-bottom: 2px solid var(--colorPrincipal);
			& .foto{
				margin: var(--distanciaSecundaria) auto 1em;
				width: 50%;
				overflow: hidden;
				border-radius: 50%;
				& .img {
					width: 100%;
					vertical-align: top;
				}
			}
			& .nombre{
				font-family: var(--FuenteP);
				font-size: var(--tamanoFuenteSubtitulo);
				margin-bottom: .2em;
			}
			& .cargo{
				font-size: 1.5rem;
				margin-bottom: 1em;
			}
			& .botones{
				display: flex;
			}
			& .btn{
				@apply --btn;
				transition: .3s;
				width: 50%;
				box-sizing: border-box;
				display: flex;
				justify-content: center;
				@media (--tablet) {
					
					padding: 1em;
				}
				& span{
					margin-right: .5em;
				}
				&:nth-of-type(1){
					color: white;
					background: var(--colorPrincipal);
					border-color: var(--colorPrincipal);
					margin-right: 1em;
					&:hover{
						background: white;
						color: var(--colorPrincipal);
					}
				}
				&:nth-of-type(2){
					color: var(--colorPrincipal);
					background: white;
					border-color: var(--colorPrincipal);
					margin-right: 1em;
					&:hover{
						background: var(--colorPrincipal);
						color: white;
					}
				}
			}

		}
		& .habilidades{
			padding-top: var(--distanciaSecundaria);
			& .contenedor{
				display: grid;
				grid-template-columns: 1fr 1fr;
				margin-top: var(--distanciaTercera);
				grid-gap: var(--distanciaCuarta);
				& .skill{
					@apply --sombra;
					background: white;
					border-radius: 50px;
					text-align: center;
					padding: .5em;
					font-size: var(--tamanoFuenteTexto);
					color: var(--colorTexto);
				}
			}
		}
		& .overview{
			& .contenedor{
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-gap: var(--distanciaCuarta);
				margin-top: var(--distanciaTercera);
				padding-bottom: var(--distanciaSecundaria);
				border-bottom: 2px solid var(--colorPrincipal);
				& .realizado{
					display: flex;
					flex-direction: column;
					@apply --sombra;
					border-radius: 5%;
					align-items: center;
					justify-content: center;
					text-align: center;
					color: var(--colorTexto);
					padding: .5em 0;
					& .numero{
						font-size: 1.5rem;
					}
					& .nombre{
						font-size: 1rem;
					}
				}
			}
		}
		& .experiencia{
			padding-top: var(--distanciaSecundaria);
			& .title{
				margin-bottom: .5em;
			}
			& .trabajo{
				text-decoration: none;
				color: var(--colorPrincipal);
				& .nombre{
					font-size: var(--tamanoFuenteCaption);
				}
				& .fecha{
					font-size: var(--tamanoFuenteTexto);
					color: var(--colorSecundario);
				}
				& .descripcion{
					color: var(--colorTexto);
					font-size: var(--tamanoFuenteTexto);
				}
			}
		}
		& .areas{
			& .contenedor{
				display: grid;
				grid-template-columns: 1fr 1fr;
				margin-top: var(--distanciaTercera);
				grid-gap: var(--distanciaCuarta);
				& .area{
					@apply --sombra;
					border-radius: 50px;
					text-align: center;
					padding: .5em;
					font-size: var(--tamanoFuenteTexto);
					color: white;
					&:nth-of-type(1){
						background: #0074ea;
					}
					&:nth-of-type(2){
						background: #56efda;
					}
					&:nth-of-type(3){
						background: #9ebf7a;
					}
					&:nth-of-type(4){
						background: #ffc387;
					}
				}

			}
		}
		& .curso{
			text-decoration: none;
			color: var(--colorPrincipal);
			position: relative;
			& img{
				width: 100%;
			}
			& .ver{
				display: grid;
				grid-template-columns: 1fr 5fr;
				margin-bottom: var(--distanciaCuarta);
				@media (--tablet) {
					grid-column-gap: 1em;
					grid-template-columns: 1fr 10fr;
				}
				@media (--mobile) {
					grid-template-columns: 1fr 6fr !important;
				}
				& .nombre{
					font-size: var(--tamanoFuenteCaption);
					text-transform: capitalize;
				}
				& .fecha{
					color: var(--colorSecundario);
					grid-column: 2;
					font-size: var(--tamanoFuenteTexto);
				}
			}
			& .over{
				visibility: hidden;
				opacity: 0;
				position: absolute;
				width: 370.734px;
				height: 286px;
				top: -15em;
				padding: 1em;
				background: var(--colorSombra);
				border-radius: 1em;
				left: calc(-370.734px - 1em - 2.8em);
				transition: .3s;

			}
			@media (--desktop) {
				
				&:hover{
					& .over{
						visibility: visible;
						display: inline;
						opacity: 1;
					}
				}
			}
		}
		&:nth-of-type(2),&:nth-of-type(3){
			margin-top: var(--distanciaPrincipal);
		}
		&:nth-of-type(3){
			& .title{
				margin-bottom: .5em;
			}
		}
	}
}