.portafolio{
	& .container{
		@apply --margen;
		padding: var(--distanciaPrincipal) 0;
		& .title{
			@apply --title;
			@apply --tituloPrincipal;
		}
		& .categorias{
			margin-top: var(--distanciaSecundaria);
			display: flex;
			list-style: none;
			justify-content: center;
			@media (--mobile) {
				display: none;
			}
			& .item{
				padding-right: 1.5em;
				& a{
					color: var(--colorSecundario);
					text-transform: uppercase;
					font-weight: 600;
					text-decoration: none;
				}
			}
		}
		& .contenedor{
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: var(--distanciaTercera);
			margin-top: var(--distanciaTercera);
			@media (--tablet) {
				grid-template-columns: 1fr 1fr;
			}
			@media (--mobile) {
				grid-template-columns: 1fr !important;
			}
			& .item{
				position: relative;
				border-radius: 10px;
				overflow: hidden;
				&:hover{
					& .hover{
						background: color(var(--colorFondo) a(50%));
						& span{
							opacity: 1;
						}
					}
				}
				& .hover{
					position: absolute;
					z-index: 1000;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
					background: color(var(--colorFondo) a(20%));
					display: flex;
					justify-content: center;
					align-items: center;
					transition: .3s;
					& span{
						color: white;
						font-size: var(--tamanoFuenteSubtitulo);
						opacity: 0;
						transition: .3s;
					}
				}
				& .img{
					width: 100%;
					vertical-align: top;
				}
			}
		}
	}
}