.portada{
	background: url('../img/bg.jpg') center center no-repeat;
	background-size: cover;
	& .contenedor{
		background: color(var(--colorFondo) a(50%));
		height: 110vh;
		& .header{
			@apply --margen;
			padding-top: 2em;
			display: flex;
			justify-content: space-between;
			align-items: center;
			& .logo{		
				width: 15%;
				@media (--tablet) {
					width: 20%;
				}
				@media (--mobile) {
					width: 40% !important;
				}
				& img{
					width: 100%;
				}
			}
			& .burger{
				display: none;
				background: none;
				color: var(--colorPrincipal);
				border: none;
				font-size: var(--tamanoFuenteSubtitulo);
				z-index: 2000;
				position: fixed;
				right: 1em;
				@media (--mobile) {
					display: inline;

				}
			}
			& .navbar{
				& .menu{
					display: flex;
					justify-content: center;
					@media (--mobile) {
						display: none;
						&.active {
							animation-name: aparecer;
							-webkit-animation-name: aparecer;	

							animation-duration: 1s;	
							-webkit-animation-duration: 1s;

							animation-timing-function: ease-in-out;	
							-webkit-animation-timing-function: ease-in-out;	
							display: flex;
							position: fixed;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							flex-direction: column;
							background: color(var(--colorFondo) a(50%));
							justify-content: center;
							align-items: center;
							z-index: 1500;
							& .item{
								margin-bottom: 1em;
								& a{
									@media (--min) {
										font-size: 2.2rem;
									}
									font-size: var(--tamanoFuenteSubtitulo);
									color: white;
								}
							}
						}
					}
					& .item{
						padding-right: 2em;
						list-style: none;
						& a{
							color: white;
							text-decoration: none;
							font-size: 1.17rem;
							text-transform: uppercase;
							font-weight: 600;
							
						}
					}
				}
			}
		}
		& .copy{
			@apply --margen;
			display: flex;
			align-items: center;
			height: 100%;
			& .container{
				padding-bottom: 10em;
			}
			@media (--mobile) {
				& .caption{
					font-size: 1.8rem;
				}
				& .nombre{
					font-size: 3rem;
				}
				& .subtitle{

				}
			}
			@media (--min){
				& .caption{
					display: none;
				}
				& .descripcion{
					font-size: 1rem;
				}
			}
			& .caption{
				font-size: 2rem;
				color: white;
				font-weight: normal;
			}
			& .nombre{
				font-family: var(--FuenteP);
				color: white;
				font-size: var(--tamanoFuenteTitulo);
			}
			& .subtitle{
				color: var(--colorSecundario);
				text-transform: uppercase;
				font-weight: normal;
			}
			& .descripcion{
				color: white;
				width: 50%;
				font-size: var(--tamanoFuenteTexto);
				margin-bottom: 3em;
				@media (--mobile) {
					width: 100%;
				}
			}
			& .btn{
				@apply --btn;
				color: white;
				background: var(--colorPrincipal);
				border-color: var(--colorPrincipal);
				width: 13%;
				&:hover{
					background: transparent;
				}
			}
		}
	}
}