.servicios{
	padding: var(--distanciaPrincipal) 0;
	& .container{
		@apply --margen;
		& .title{
			@apply --title;
			@apply --tituloPrincipal;
		}
		& .text{
			@apply --text;
		}
		& .contenedor{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-row-gap: var(--distanciaSecundaria);
			grid-column-gap: var(--distanciaSecundaria);
			margin-top: var(--tamanoFuenteSubtitulo);
			@media (--tablet) {
				grid-template-columns: 1fr;
			}
			& .item{
				@media (--tablet) {
					
					&:nth-child(3){
						grid-row: 4;
					}
				}
			}
			& .item.informacion{
				display: grid;
				grid-template-columns: 1fr 4fr;
				grid-column-gap: var(--distanciaTercera);
				@media (--mobile) {
					& .subtitle{
						font-size: 2rem !important;
					}
				}
				
				& .icon{
					@media (--tablet) {
						align-self: center;
					}
					& .img{
						width: 100%;
					}
				}
				& .subtitle{
					@apply --title;
					font-size: 2.7rem;
					color: var(--colorSecundario);
					align-self: center;
					@media (--min) {
						font-size: 1.8rem !important;
					}
				}
				& .text{
					grid-column: 1/3;
				}
			}
			& .item.imagen{
				justify-self: center;
				@media (--min) {
					& img{

						width: 100%;
					}
				}
			}

		}
	}
}