:root{
	--FuenteP: 'Ubuntu Mono', system-ui;
	--FuenteS: 'Nunito', system-ui;

	--colorFondo: #430087;
	--colorPrincipal: #9a0a84;
	--colorSecundario: #00ea79;
	--colorTexto: #39370e;
	--colorSombra: #cbd5e4;


	--tamanoFuenteTitulo: 4.6rem;
	--tamanoFuenteSubtitulo: 2.8rem;
	--tamanoFuenteCaption: 1.7rem;
	--tamanoFuenteTexto: 1.1rem;
	
	--distanciaPrincipal: 4.6em;
	--distanciaSecundaria: 2.8em;
	--distanciaTercera: 1.7em;
	--distanciaCuarta: 1.1em;
	
	--btn: {
		color: white;
		background: gray;
		border-radius: 15px;
		padding: 1em 2em;
		font-weight: 600;
		text-decoration: none;
		font-size: var(--tamanoFuenteTexto);
		border: 2px solid gray;
		transition: .3s;
	};
	--margen: {
		margin: 0 var(--distanciaPrincipal);
		@media (--mobile) {
			margin: 0 2em;
			
		}
	};
	--title: {
		font-size: var(--tamanoFuenteTitulo);
		color: var(--colorPrincipal);
		font-family: var(--FuenteP);
		@media (--mobile) {
			font-size: 4rem;
			
		}
		@media (--min) {
			font-size: 3rem !important;
			
		}
	};
	--tituloPrincipal: {
		position: relative;
		margin-left: .3em;
		&:before{
			content: '';
			bottom: 0;
			left: -2%;
			width: .8%;
			height: 80%;
			background: var(--colorPrincipal);
			position: absolute;
			border-radius: 1em;

			@media (--tablet) {
				width: 1%;
			}
			@media (--mobile) {
				left: -5%;
				width: 2% !important;
			}
		}
	}
	--text: {
		color: var(--colorTexto);
		font-size: var(--tamanoFuenteTexto);
		@media (--min) {
			font-size: 1rem;
		}
	};
	--sombra: {
		box-shadow: 0 0 30px 3px var(--colorSombra);
	};
	

}
@custom-media --mobile (max-width: 500px);
@custom-media --min (max-width: 360px);
@custom-media --tablet (max-width: 800px);
@custom-media --desktop (width > 800px);