<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Jesús Rojas
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	meta(property="og:title", content="Jesús Rojas")
	meta(property="og:type", content="website")
	meta(property="og:url", content="http://jesusrojas.com.ve")
	meta(property="og:description", content="Soy Desarrollador Frontend Junior. Desarrollo sitios web responsive garantizando la funcionalidad independientemente del navegador.  Trabajo con Angular, HTML5, CSS3, JavaScript, Responsive Design. Soy muy curioso, decidido y proactivo ...")
	meta(property="og:image" content='http://jesusrojas.com.ve/img/OG.jpg')
	meta(property="og:image:alt" content='http://jesusrojas.com.ve/img/OG.jpg')
	link(rel="stylesheet", href="css/fontawesome-all.min.css")
body
	section.portada
		.contenedor
			header.header
				figure.logo
					img(src="img/logo-blanco.png", alt="logo")
				nav.navbar
					ul.menu
						li.item
							a(href="#") Información
						li.item
							a(href="#") Proyectos
						li.item
							a(href="#") Contacto
				button.burger
					span.fa.fa-bars
			.copy
				h2.caption Hola, mi nombre es:
				h1.nombre Jesús Rojas
				h3.subtitle Junior Frontend Developer
				p.descripcion Soy un Diseñador y Desarrollador web Junior. Desarrollo sitios web responsive garantizando la funcionalidad independientemente del navegador. Soy muy curioso, decidido y proactivo. Trabajo en equipo y soy emprendedor.
				a.btn Más Informacion

	section.servicios
		h2.title Que Hago
		p.text El proceso para realizar una pagina web es el siguiente:
		.contenedor
			.item
				.icon
					img.img(src="img/icon-informacion.jpg", alt="icono de informacion")
				h3.subtitle Recolecto Información
				p.text Empiezo a recolectar información sobre su negocio haciendole un refing y así saber que es lo que quiere. También investigo un poco de la audienca a la que quiere llegar.
			.item
			.item
				.icon
					img.img(src="img/icon-diseño.jpg", alt="icono de diseño")
				h3.subtitle Creo el diseño
				p.text Con la información recolectada, creo el diseño y se lo muestro al cliente para que lo aprueve.
			.item
			.item
				.icon
					img.img(src="img/icon-programacion.jpg", alt="icono de programacion")
				h3.subtitle Hago la pagina
				p.text Ya con el/los diseño aprovados, realizo el desarrollo de la/s pagina/s. Les agrego animaciones he interactividad si es necesario.
			.item
	section.call
		.contenedor
			h3.action Contactame para empezar el proyecto de tus sueños
			a.btn(href="#") Contactame
	section.portafolio
		h2.title Portafolio
		ul.categorias
			li.item
				a(href="#") Diseño Web
			li.item
				a(href="#") Branding
			li.item
				a(href="#") Programación Web
			li.item
				a(href="#") Diseño Grafico
		.contenedor
			a(href="#").item
				.hover
					span.fa.fa-search
				img.img(src="img/movies.jpg", alt="movies")
			a(href="#").item
				.hover
					span.fa.fa-search
				img.img(src="img/platzi-video-postcss.jpg", alt="platzi video")
			a(href="#").item
				.hover
					span.fa.fa-search
				img.img(src="img/vigilante.jpg", alt="vigilante")

	script(src="js/jquery.js")
	script(src="js/popper.min.js")
	script(src="js/hammer.min.js")
	script(src="js/blazy.min.js")
	script(src="js/app.js")
	script(src="js/seguir.js")
	script(src="js/twitter.js")