<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Jesús Rojas
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	meta(property="og:title", content="Jesús Rojas")
	meta(property="og:type", content="website")
	meta(property="og:url", content="http://jesusrojas.com.ve")
	meta(property="og:description", content="Soy Desarrollador Frontend Junior. Desarrollo sitios web responsive garantizando la funcionalidad independientemente del navegador.  Trabajo con Angular, HTML5, CSS3, JavaScript, Responsive Design. Soy muy curioso, decidido y proactivo ...")
	meta(property="og:image" content='http://jesusrojas.com.ve/img/OG.jpg')
	meta(property="og:image:alt" content='http://jesusrojas.com.ve/img/OG.jpg')
	style.
		body,figure,h1,h2,h3,ul{margin:0;padding:0}body{font-family:Ubuntu Mono,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;font-family:Nunito,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;overflow-x:hidden}.portada{background:url(../img/bg.jpg) 50% no-repeat;background-size:cover}.portada .contenedor{background:#430087;background:rgba(67,0,135,.5);height:110vh}.portada .contenedor .header{margin:0 4.6em;padding-top:2em;display:flex;justify-content:space-between;align-items:center}.portada .contenedor .header .logo{width:15%}.portada .contenedor .header .logo img{width:100%}.portada .contenedor .header .burger{display:none;background:none;color:#9a0a84;border:none;font-size:44.8px;font-size:2.8rem;z-index:5;position:fixed;right:1em}.portada .contenedor .header .navbar .menu{display:flex;justify-content:center}.portada .contenedor .header .navbar .menu .item{padding-right:2em;list-style:none}.portada .contenedor .header .navbar .menu .item a{color:#fff;text-decoration:none;font-size:18.72px;font-size:1.17rem;text-transform:uppercase;font-weight:600}.portada .contenedor .copy{margin:0 4.6em;display:flex;align-items:center;height:100%}.portada .contenedor .copy .container{padding-bottom:10em}.portada .contenedor .copy .caption{font-size:32px;font-size:2rem;color:#fff;font-weight:400}.portada .contenedor .copy .nombre{font-family:Ubuntu Mono,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;color:#fff;font-size:73.6px;font-size:4.6rem}.portada .contenedor .copy .subtitle{color:#00ea79;text-transform:uppercase;font-weight:400}.portada .contenedor .copy .descripcion{color:#fff;width:50%;font-size:17.6px;font-size:1.1rem;margin-bottom:3em}.portada .contenedor .copy .btn{background:gray;border-radius:15px;padding:1em 2em;font-weight:600;text-decoration:none;font-size:17.6px;font-size:1.1rem;border:2px solid gray;color:#fff;background:#9a0a84;border-color:#9a0a84;width:13%}@media (max-width:800px){.portada .contenedor .header .logo{width:20%}}@media (max-width:500px){.portada .contenedor .header{margin:0 2em}.portada .contenedor .header .logo{width:40%!important}.portada .contenedor .header .burger{display:inline}.portada .contenedor .header .navbar .menu{display:none}.portada .contenedor .copy{margin:0 2em}.portada .contenedor .copy .caption{font-size:1.8rem}.portada .contenedor .copy .nombre{font-size:3rem}.portada .contenedor .copy .descripcion{width:100%}}@media (max-width:360px){.portada .contenedor .copy .caption{display:none}.portada .contenedor .copy .descripcion{font-size:1rem}}
body
	section.portada
		.contenedor
			header.header
				figure.logo
					img(src="img/logo-blanco.png", alt="logo")
				nav.navbar
					ul.menu#menu
						li.item
							a(href="informacion.html") Información
						li.item
							a(href="#proyectos") Proyectos
						li.item
							a(href="#contacto") Contacto
				button.burger#burger
					span.fa.fa-bars
			.copy
				.container
					h2.caption Hola, mi nombre es:
					h1.nombre Jesús Rojas
					h3.subtitle Junior Frontend Developer
					p.descripcion Soy un Diseñador y Desarrollador web Junior. Desarrollo sitios web responsive garantizando la funcionalidad independientemente del navegador. Soy muy curioso, decidido y proactivo. Trabajo en equipo y soy emprendedor.
					a.btn(href="informacion.html") Más Informacion

	section.servicios#servicios
		.container
			h2.title Que Hago
			p.text El proceso para realizar una pagina web es el siguiente:
			.contenedor
				.item.informacion.derecha
					.icon
						img.img(src="img/icon-informacion.jpg", alt="icono de informacion")
					h3.subtitle Recolecto Información
					p.text Empiezo a recolectar información sobre su negocio haciéndole un briefing y así saber qué es lo que quiere. También investigo un poco de la audiencia a la que quiere llegar.
				.item.imagen.izquierda
					img(src="img/briefing.jpg", alt="briefing")
				.item.imagen.derecha
					img(src="img/diseno.jpg", alt="diseño")
				.item.informacion.izquierda
					.icon
						img.img(src="img/icon-diseño.jpg", alt="icono de diseño")
					h3.subtitle Creo el diseño
					p.text Con la información recolectada, creo el diseño y se lo muestro al cliente para que lo apruebe.
				.item.informacion.derecha
					.icon
						img.img(src="img/icon-programacion.jpg", alt="icono de programacion")
					h3.subtitle Construyo la pagina
					p.text Ya con el/los diseño aprobados, realizo el desarrollo de la/s pagina/s. Les agrego animaciones he interactividad si es necesario.
				.item.imagen.izquierda
					img(src="img/programacion.jpg", alt="programacion")
	section.call#call
		.contenedor.mostrar
			h3.action Contáctame para empezar el proyecto de tus sueños
			a.btn(href="#") Contactame
	section.portafolio#proyectos
		.container
			h2.title Portafolio
			ul.categorias
				li.item
					a(href="#") Diseño Web
				li.item
					a(href="#") Branding
				li.item
					a(href="#") Programación Web
				li.item
					a(href="#") Diseño Grafico
			.contenedor
				a(href="#").item.load
					.loader
						.circulo
						.movimiento
					.hover
						span.fa.fa-search
					img.img.b-lazy(data-src="img/movies.jpg", alt="movies")
				a(href="#").item.load
					.loader
						.circulo
						.movimiento
					.hover
						span.fa.fa-search
					img.img.b-lazy(data-src="img/platzi-video-postcss.jpg", alt="platzi video")
				a(href="#").item.load
					.loader
						.circulo
						.movimiento
					.hover
						span.fa.fa-search
					img.img.b-lazy(data-src="img/vigilante.jpg", alt="vigilante")
	section.contacto#contacto
		.contenedor
			h2.title Contacto
			form.formulario(action="enviar.php")
				span.far.fa-user.icono

				input#nombre.input(type="text", placeholder="Nombre", name="nombre" required="")

				span.far.fa-envelope.icono

				input#email.input(type="email", name="email", placeholder="Correo" required="")

				span.fas.fa-paperclip.icono

				input#asunto.input(type="text", name="asunto", placeholder="Asunto" required="")

				span.far.fa-file.icono

				textarea#mensaje.textarea(name="mensaje", cols="30", rows="5", placeholder="Mensaje" required="")

				button(type="submit").btn
					span.far.fa-paper-plane
	footer.footer
		.contenedor
			p.right &copy; Todos los Derechos Reservados 2018
			ul.social
				li.item
					a(href="https://facebook.com/jesusrojasweb" target="_blank")
						span.fab.fa-facebook
				li.item
					a(href="https://twitter.com/jesusrojasweb" target="_blank")
						span.fab.fa-twitter
				li.item
					a(href="https://www.youtube.com/channel/UCDEtrxlTfQr55A4G8fxs-XA" target="_blank")
						span.fab.fa-youtube
				li.item
					a(href="https://codepen.io/jesusrojasweb" target="_blank")
						span.fab.fa-codepen
				li.item
					a(href="https://instagram.com/jesusrojasweb" target="_blank")
						span.fab.fa-instagram
				li.item
					a(href="https://github.com/jesusrojasweb" target="_blank")
						span.fab.fa-github
	link(rel="stylesheet", href="css/fontawesome-all.min.css")
	link(rel="stylesheet", href="css/estilos.css")
	script(src="js/jquery.js")
	script(src="js/popper.min.js")
	script(src="js/hammer.min.js")
	script(src="js/blazy.min.js")
	script(src="js/app.js")
	script(src="js/seguir.js")