<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Información
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	style.
		body,figure,h1,h2,h3,h4,ul{margin:0;padding:0}body{font-family:Ubuntu Mono,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;font-family:Nunito,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;overflow-x:hidden}.header{margin:0 4.6em;padding-top:2em;display:flex;justify-content:space-between;align-items:center}.header .logo{width:30%}.header .logo img{width:100%}.header .burger{display:none;background:none;color:#004fe5;border:none;font-size:44.8px;font-size:2.8rem;z-index:5;position:fixed;right:1em}.header .navbar .menu{display:flex;justify-content:center}.header .navbar .menu .item{padding-right:2em;list-style:none}.header .navbar .menu .item a{color:#004fe5;text-decoration:none;font-size:18.72px;font-size:1.17rem;text-transform:uppercase;font-weight:600}.detalles{display:grid;grid-template-columns:repeat(3,1fr);margin:2em 4.6em;grid-gap:2.8em}.detalles .item .titulo{color:#004fe5;color:#002374}.detalles .item .title,.detalles .item .titulo{font-size:73.6px;font-size:4.6rem;font-family:Ubuntu Mono,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue}.detalles .item .title{color:#004fe5;font-size:44.8px;font-size:2.8rem;color:#002374}.detalles .item .perfil{text-align:center;padding-bottom:2.8em;border-bottom:2px solid #004fe5}.detalles .item .perfil .foto{margin:2.8em auto 1em;width:50%;overflow:hidden;border-radius:50%}.detalles .item .perfil .foto .img{width:100%;vertical-align:top}.detalles .item .perfil .nombre{font-family:Ubuntu Mono,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;font-size:44.8px;font-size:2.8rem;margin-bottom:.2em}.detalles .item .perfil .cargo{font-size:24px;font-size:1.5rem;margin-bottom:1em}.detalles .item .perfil .botones{display:flex}.detalles .item .perfil .btn{color:#fff;background:gray;border-radius:50px;padding:.5em 2em;font-weight:600;text-decoration:none;font-size:17.6px;font-size:1.1rem;border:2px solid gray;width:50%;box-sizing:border-box;display:flex;justify-content:center}.detalles .item .perfil .btn span{margin-right:.5em}.detalles .item .perfil .btn:first-of-type{color:#fff;background:#004fe5;border-color:#004fe5;margin-right:1em}.detalles .item .perfil .btn:nth-of-type(2){color:#004fe5;background:#fff;border-color:#004fe5;margin-right:1em}.detalles .item .habilidades{padding-top:2.8em}.detalles .item .habilidades .contenedor{display:grid;grid-template-columns:1fr 1fr;margin-top:1.7em;grid-gap:1.1em}.detalles .item .habilidades .contenedor .skill{box-shadow:0 0 30px 3px #cbd5e4;background:#fff;border-radius:50px;text-align:center;padding:.5em;font-size:17.6px;font-size:1.1rem;color:#4c596b}.detalles .item .overview .contenedor{display:grid;grid-template-columns:repeat(3,1fr);grid-gap:1.1em;margin-top:1.7em;padding-bottom:2.8em;border-bottom:2px solid #004fe5}.detalles .item .overview .contenedor .realizado{display:flex;flex-direction:column;box-shadow:0 0 30px 3px #cbd5e4;border-radius:5%;align-items:center;justify-content:center;text-align:center;color:#4c596b;padding:.5em 0}.detalles .item .overview .contenedor .realizado .numero{font-size:24px;font-size:1.5rem}.detalles .item .overview .contenedor .realizado .nombre{font-size:16px;font-size:1rem}.detalles .item .experiencia{padding-top:2.8em}.detalles .item .experiencia .title{margin-bottom:.5em}.detalles .item .experiencia .trabajo{text-decoration:none;color:#004fe5}.detalles .item .experiencia .trabajo .nombre{font-size:27.2px;font-size:1.7rem}.detalles .item .experiencia .trabajo .fecha{font-size:17.6px;font-size:1.1rem;color:#00e3c1}.detalles .item .experiencia .trabajo .descripcion{color:#4c596b;font-size:17.6px;font-size:1.1rem}.detalles .item .curso{text-decoration:none;color:#004fe5;position:relative}.detalles .item .curso img{width:100%}.detalles .item .curso .ver{display:grid;grid-template-columns:1fr 5fr;margin-bottom:1.1em}.detalles .item .curso .ver .nombre{font-size:27.2px;font-size:1.7rem;text-transform:capitalize}.detalles .item .curso .ver .fecha{color:#00e3c1;grid-column:2;font-size:17.6px;font-size:1.1rem}.detalles .item .curso .over{visibility:hidden;opacity:0;position:absolute;width:370.734px;height:286px;top:-15em;padding:1em;background:#cbd5e4;border-radius:1em;left:calc(-370.734px - 3.8em)}.detalles .item:nth-of-type(2),.detalles .item:nth-of-type(3){margin-top:4.6em}.detalles .item:nth-of-type(3) .title{margin-bottom:.5em}@media (max-width:800px){.header .logo{width:20%}.detalles{grid-template-columns:1fr}.detalles .item .perfil .btn{padding:1em}.detalles .item .curso .ver{grid-column-gap:1em;grid-template-columns:1fr 10fr}}@media (max-width:500px){.header{margin:0 2em}.header .logo{width:40%!important}.header .burger{display:inline}.header .navbar .menu{display:none}.detalles{margin:2em}.detalles .item .title,.detalles .item .titulo{font-size:4rem}.detalles .item .title{font-size:2.8rem}.detalles .item .curso .ver{grid-template-columns:1fr 6fr!important}}@media (max-width:360px){.detalles .item .title,.detalles .item .titulo{font-size:3rem!important}}
body
	header.header
		a(href="/")
			figure.logo
				img(src="img/logo.png", alt="logo")
		nav.navbar
			ul.menu#menu
				li.item
					a(href="informacion.html") Información
				li.item
					a(href="#proyectos") Proyectos
				li.item
					a(href="#contacto") Contacto
		button.burger#burger
			span.fa.fa-bars
	
	section.detalles
		.item
			h1.titulo Perfil
			article.perfil
				figure.foto
					img.img(src="img/perfil.jpg", alt="perfil")
				h2.nombre Jesús Rojas
				h3.cargo Junior Frontend Developer
				.botones
					a.btn.curriculum(href="curriculum.pdf" target="_blank")
						span.far.fa-file
						span Curriculum
					a.btn.contactar(href="/#contacto")
						span.far.fa-paper-plane
						span Contactar
			article.habilidades
				h2.title Habilidades
				.contenedor
					.skill
						span HTML5/CSS3
					.skill
						span Git
					.skill
						span Angular
					.skill
						span JavaScript
					.skill
						span Responsive Design
					.skill
						span Illustrator

		.item
			article.overview
				h2.title Overview
				.contenedor
					.realizado
						span.numero 30
						span.nombre Paginas
					.realizado
						span.numero 10
						span.nombre Clientes
					.realizado
						span.numero 3 años
						span.nombre Experiencia
					.realizado
						span.numero 98%
						span.nombre Efectividad
					.realizado
						span.numero 100%
						span.nombre Original
			article.experiencia
				h2.title Experiencia
				a(href="#").trabajo
					h3.nombre Vigilante
					h4.fecha Febrero 2018
					p.descripcion Empresa de sistema cerrado de televisión. Ofrecen un servicio de mantenimiento y venta de camaras de seguridad.
				a(href="#").trabajo
					h3.nombre AprendeSinLimites
					h4.fecha Junio 2018
					p.descripcion Plataforma de aprendizaje para venezolanos
			article.areas
				h2.title Areas de trabajo
				.contenedor
					.area
						span Diseño Web
					.area
						span Desarrollo Web
					.area
						span Branding
					.area
						span Diseño grafico
		.item
			h2.title Educación
			a.curso(href="https://platzi.com/@jesusrojasweb/carrera/arquitecto/diploma/" target="_blank")
				span.ver
					img.img(src="img/platzi-logo.jpg", alt="logo de platzi")
					h3.nombre Carrera de Arquitectura Frontend
					span.fecha 2017 -2018
				span.over
					img.certificado(src="img/carrera-arquitecto.png", alt="carrera arquitecto")
			a.curso(href="https://platzi.com/@jesusrojasweb/carrera/fundamentos-programacion/diploma/" target="_blank")
				span.ver
					img.img(src="img/platzi-logo.jpg", alt="logo de platzi")
					h3.nombre Carrera de fundamentos de programación
					span.fecha 2017 - 2018
				span.over
					img.certificado(src="img/carrera-programacion.png", alt="carrera de programacion")
			a.curso(href="https://platzi.com/@jesusrojasweb/curso/html5-css3/diploma/" target="_blank")
				span.ver
					img.img(src="img/platzi-logo.jpg", alt="logo de platzi")
					h3.nombre Curso de Desarrollo Web Online
					span.fecha sep de 2017 - sep 2018
				span.over
					img.certificado(src="img/desarrollo-web-online.png", alt="desarrollo web online")
			a.curso(href="https://platzi.com/@jesusrojasweb/curso/responsive-design/diploma/" target="_blank")
				span.ver
					img.img(src="img/platzi-logo.jpg", alt="logo de platzi")
					h3.nombre Curso de responsive design
					span.fecha oct de 2017 - oct 2018
				span.over
					img.certificado(src="img/responsive-design.png", alt="responsive")
			a.curso(href="https://platzi.com/@jesusrojasweb/curso/fundamentos-javascript-2017/diploma/" target="_blank")
				span.ver
					img.img(src="img/platzi-logo.jpg", alt="logo de platzi")
					h3.nombre fundamentos de javaScript
					span.fecha mar de 2017 - mar 2018
				span.over
					img.certificado(src="img/fundamentos-javascript.png", alt="javascript")
			a.curso(href="https://platzi.com/@jesusrojasweb/curso/git-github/diploma/" target="_blank")
				span.ver
					img.img(src="img/platzi-logo.jpg", alt="logo de platzi")
					h3.nombre curso profesional de git y github
					span.fecha oct de 2017 - oct 2018
				span.over
					img.certificado(src="img/git-github.png", alt="git")
			a.curso(href="https://platzi.com/@jesusrojasweb/curso/css-grid-layout/diploma/" target="_blank")
				span.ver
					img.img(src="img/platzi-logo.jpg", alt="logo de platzi")
					h3.nombre curso de css grid layout
					span.fecha oct de 2017 - oct 2018
				span.over
					img.certificado(src="img/curso-css-grid-layout.png", alt="css grid")
			a.curso(href="https://platzi.com/@jesusrojasweb/curso/branding/diploma/" target="_blank")
				span.ver
					img.img(src="img/platzi-logo.jpg", alt="logo de platzi")
					h3.nombre curso de contrucción de marca
					span.fecha nov de 2017 - nov 2018
				span.over
					img.certificado(src="img/construccion-marca.png", alt="contruccion marca")

	
	footer.footer
		.contenedor
			p.right &copy; Todos los Derechos Reservados 2018
			ul.social
				li.item
					a(href="https://facebook.com/jesusrojasweb" target="_blank")
						span.fab.fa-facebook
				li.item
					a(href="https://twitter.com/jesusrojasweb" target="_blank")
						span.fab.fa-twitter
				li.item
					a(href="https://www.youtube.com/channel/UCDEtrxlTfQr55A4G8fxs-XA" target="_blank")
						span.fab.fa-youtube
				li.item
					a(href="https://codepen.io/jesusrojasweb" target="_blank")
						span.fab.fa-codepen
				li.item
					a(href="https://instagram.com/jesusrojasweb" target="_blank")
						span.fab.fa-instagram
				li.item
					a(href="https://github.com/jesusrojasweb" target="_blank")
						span.fab.fa-github
	link(rel="stylesheet", href="css/fontawesome-all.min.css")
	link(rel="stylesheet", href="css/informacion.css")
	script(src="js/jquery.js")
	script(src="js/popper.min.js")
	script(src="js/hammer.min.js")
	script(src="js/blazy.min.js")
	script(src="js/app.js")
	script(src="js/seguir.js")